#todoLabel {
	margin-top: 15px;
}

#noteTitle {
	margin-right: 160px;
}

.label {
	font-size: 23px;
	width: 98%;
	display: block;
}

.completedLabel {
	font-size: 12px;
	color: #00FF00;
}

.ongoingLabel {
	font-size: 12px;
	color: #0000FF;
}

.notes {
	white-space: normal;
	margin-top: 5px;
	margin-left: auto;
	margin-right: 30px;
}
