.textfield {
	display: block;
    width: 90%;
	margin-left: auto;
}

.label {
	margin-top: 20px;
	margin-left: auto;
	margin-bottom: 5px;
	font-size: 25px;
	width: 98%;
	display: block;
}

.notes {
	white-space: normal;
	margin-left: 20px;
	margin-right: 30px;
}