 <?xml version="1.0" encoding="utf-8" ?>
 <widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="0.0.0.1"
        rim:header="RIM-Widget: rim/widget">
		
	<author>James Choi, Adrian Lee</author>
	<name>TODOs</name>
	<description>
		TODO list application using HTML5 for BlackBerry PlayBook. 
	</description>

	<content src="index.html"/>
	<icon src="images/icon.png"/>
	
	<feature id="blackberry.app"/>
</widget>
